<% provide :title, t("home.title_home") %>
<div class="content_home_left">
  <div class="content_home_left_1">
    <div class="comtent_home_1">
      <div class="content_home_text_1">
        <%= t"home.anime_new" %>
      </div>
      <div class="content_home_link">
        <%= link_to t("home.see_more"), "#", class: "home_link" %>
      </div>
    </div>
    <div class="content_home_frame_block">
    </div>
    <div class="content_home_frame_item_1">
      <% @movie_new.each do |movie| %>
        <div class="content_home_item_1">
          <%= link_to image_tag(movie.images.sample.image.url, class: "image_item_1"), movie_path(movie) %>
          <div class="frame_item_text_1">
            <div class="item_text_1">
              <%= movie.name%>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="content_home_left_2">
    <div class="comtent_home_1">
      <div class="content_home_text_1">
        <%= t("home.anime_series") %>
      </div>
      <div class="content_home_link">
         <%= link_to t("home.see_more"), "#", class: "home_link" %>
      </div>
    </div>
    <div class="content_home_frame_block">
    </div>
    <div class="content_home_frame_item_1">
      <% @movie_series.each do |movie| %>
        <div class="content_home_item_1">
          <%= link_to image_tag(movie.images.sample.image.url, class: "image_item_1"), movie_path(movie) %>
          <div class="frame_item_text_1">
            <div class="item_text_1">
              <%= movie.name%>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="content_home_right">
  <div class="content_home_right_1">
    <div class="comtent_home_2">
      <div class="content_home_text_2">
        <%= t("home.anime_updated") %>
      </div>
    </div>
    <div class="content_home_frame_item_2">
      <% @movie_update.each do |movie| %>
        <div class="content_home_item_2">
          <%= link_to image_tag(movie.images.sample.image.url, class: "image_item_2"), movie_path(movie) %>
          <div class="frame_item_text_2">
            <div class="item_text_2">
              <%= movie.name %>
            </div>
            <div class="item_text_2_1">
              <%= movie.content %>
            </div>
          </div>
          <div class="block">
            -------------------------------------
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="content_home_right_2">
    <div class="comtent_home_2">
    <div class="content_home_text_2">
        <%= t("home.new_category") %>
      </div>
    </div>
    <div class="content_home_frame_item_2">
      <div class="content_home_item_2">
        <div>
          <%= link_to image_tag("d1.jpg", class: "link_home_image_item_2"), "#"%>
          <div class="content_home_text_3">
            <p>
              <%= t "header.school" %>
            </p>
          </div>
        </div>
        <div>
          <%= link_to image_tag("d2.jpg", class: "link_home_image_item_2"), "#"%>
          <div class="content_home_text_3">
            <p>
              <%= t "header.loli" %>
            </p>
          </div>
        </div>
        <div>
          <%= link_to image_tag("d3.jpg", class: "link_home_image_item_2"), "#"%>
          <div class="content_home_text_3">
            <p>
              <%= t "header.romantic" %>
            </p>
          </div>
        </div>
        <div>
          <%= link_to image_tag("d4.jpg", class: "link_home_image_item_2"), "#"%>
          <div class="content_home_text_3">
            <p>
              <%= t "header.horror" %>
            </p>
          </div>
        </div>
        <div>
          <%= link_to image_tag("d5.jpg", class: "link_home_image_item_2"), "#"%>
          <div class="content_home_text_3">
            <p>
              <%= t "header.adventure" %>
            </p>
          </div>
        </div>
        <div>
          <%= link_to image_tag("d6.jpg", class: "link_home_image_item_2"), "#"%>
          <div class="content_home_text_3">
            <p>
              <%= t "header.action" %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
