<% @comments.each do |comment|%>
  <div class="item_comment_frame">
    <div class="logo_comment_frame">
      <%= image_tag "c1.jpg", class: "logo_comment" %>
    </div>
    <div class="input_comment_frame_1">
      <p><%= comment.user.first_name + comment.user.last_name %></p>
      <div class="input_comment">
        <%= comment.content%>
     </div>
    </div>
    <% if comment.image.present? %>
      <div class="image_comment_frame">
        <%= image_tag comment.image.url, class: "image_comment" %>
      </div>
    <% end %>
    <div class="like_delete_comment_frame">
      <%= link_to "Delete", comment_path(comment), method: :delete,  data: { confirm: 'Are you sure?' },remote: true , class: "delete_comment" %>
    </div>
    <div class="block_comment">
    </div>
  </div>
<% end %>
<%= paginate @comments, theme: "twitter-bootstrap-3" %>
