<div class="content_frame">
  <div class="language_frame">
    <% if check_user %>
      <%= link_to current_user.account , "#", class: "link_login" %>
      <i class="fa fa-qq" id=logo_login></i>
      <%= link_to t("header_admin.link_logout"), logout_path, method: :delete, class: "link_login" %>
    <% else %>
      <%= link_to t("header.link_login"), login_path, class: "link_login" %>
      <i class="fa fa-qq" id=logo_login></i>
      <%= link_to t("header.link_registration"), login_path, class: "link_login" %>
    <% end %>
    <div class="content_language">
      <%= t"header.language" %>
      <%= link_to image_tag("en.png", class: "logo_laguage"), locale: "en" %>
      <%= t"header.or" %>
      <%= link_to image_tag("vi.jpg", class: "logo_laguage"), locale: "vi" %>
    </div>
  </div>
  <div class="nav_frame">
    <div class="nav_big">
      <div class="logo">
        <%= link_to image_tag("Noel.png", class: "logo_icon"), root_path %>
      </div>
      <ul class="menu">
        <li>
          <div class="link_menu">
            <p>
              <%= link_to t("header.home"), root_path, class: "link_menu_content" %>
            </p>
          </div>
        </li>
        <li>
          <div class="link_menu">
            <p>
              <%= link_to t("header.movie_genre"), "#", class: "link_menu_content" %>
            </p>
          </div>
          <ul class="menu_movie_genre">
            <li >
              <table>
                <% MovieType.all.in_groups_of(Settings.movie_type.value_select) do |movie| %>
                  <tr>
                    <% movie.each do |m| %>
                    <td>
                      <%= link_to m.name, movie_type_path(m.id), class: "link_menu_2" %>
                    </td>
                    <% end %>
                  </tr>
                  <% end %>
              </table>
            </li>
          </ul>
        </li>
        <li>
          <div class="link_menu">
            <p>
              <%= link_to t("header.movies_by_year"), "#", class: "link_menu_content" %>
            </p>
          </div>
          <ul>
            <li>
              <table style="width: 168px;  margin-left: -10px;">
                <% Movie::YEAR.in_groups_of(Settings.movie_type.value_select_year) do |year|%>
                  <tr>
                    <% year.each do |y| %>
                      <td>
                        <%= link_to get_year(y),
                          movie_type_year_path(get_year(y)),
                          class: "link_menu_1" %>
                      </td>
                    <% end %>
                  </tr>
                <% end %>
              </table>
            </li>
          </ul>
        </li>
      </ul>
      <div class="search_frame">
        <%= form_for movie_searchs_path, url: movie_searchs_path, method: :get do |f| %>
          <%= text_field_tag :search, params[:search], size: "30", class: "search_text" %>
          <%= button_tag(type: "submit", name: nil, class: "button_search") do %>
            <i class="fa fa-search"></i>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="nav_small">
      <ul class="link_menu_small">
        <li>
          <a href="#" onclick="return false" >
            <div class="link_menu_logo">
              <i class="fa fa-reorder"></i>
            </div>
          </a>
          <ul class="menu_small_1">
            <li>
              <div class="link_menu">
                <p>
                  <%= link_to t("header.home"), "#", class: "link_menu_content" %>
                </p>
              </div>
            </li>
            <li>
              <div class="link_menu">
                <p>
                  <%= link_to t("header.movie_genre"), "#", class: "link_menu_content" %>
                </p>
              </div>
            </li>
            <li>
              <div class="link_menu">
                <p>
                  <%= link_to t("header.movies_by_year"), "#", class: "link_menu_content" %>
                </p>
              </div>
            </li>
          </ul>
        </li>
      </ul>
      <div class="logo">

      </div>
      <div class="search_frame">
         <input type="text" value="" size="30" class="search_text" />
         <button type="button" class="button_search"><i class="fa fa-search"></i></button>
      </div>
    </div>
  </div>
</div>
