<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield :title %></title>
    <%= render "layouts/rails_default" %>
  </head>

  <body class="body">
    <%= render "layouts/header_admin"%>
    <div class="content">
      <%= yield %>
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>">
          <%= message %>
        </div>
      <% end %>
    </div>
    <div class="body_block"></div>
    <div class="footer_frame">
      <%= render "layouts/footer" %>
    </div>
  </body>
</html>
