<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield :title %></title>
    <%= render "layouts/rails_default" %>
  </head>

  <body class="body">
    <%= render "layouts/header" %>
    <div class="content">
      <%= yield %>
    </div>
    <div class="body_block"></div>
    <div class="footer_frame">
      <%= render "layouts/footer" %>
    </div>
  </body>
</html>
